
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.attribution { 
    padding-top: 15px;
    font-size: 1.1rem; text-align: center;
 }

.attribution a {
     color: hsl(228, 45%, 44%); 
}

body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    /* so that content does not cut off if it grows beneath the viewport */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


.container{
    background-color:  hsl(212, 45%, 89%);
   
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    background-color: white;
    padding: 22px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow */
}

img{
    
    display: block;
    max-width: 100%;
    border-radius: 8px;
}

.card-details{
    margin: 8 8px 8px 8px;
    
}

p{
    font-family: "Outfit";
    font-family: 400;
    padding: 24px 5px 0 5px;
    color: hsl(220, 15%, 55%);
    font-size: 0.9rem;
    
    
}

h2{
    font-family: "Outfit";
    font-weight: 700;
    padding-top: 20px;
    color:  hsl(218, 44%, 22%);
    font-size: 1.3rem;
}

/* @media (max-width: 375px) {
    .card{
        width: 90%;
        padding: 15px;
        height: 79%;
    }

    h2{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.1rem;
    }
} */



